<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title Document
    body
form
    div(id="box") 聯絡我們

    div(id="content")
            label(for="name")
            input(type="text" id="name" placeholder="姓名" required)
            label(for="mail")
            input(type="mail" id="mail" placeholder="Email" required)
            label(for="cellphone")
            input(type="cellphone" id="cellphone" placeholder="手機" required)
            label(for="phone")
            input(type="phone" id="phone" placeholder="電話" required)
            label(for="content")
            input(type="content" id="content" placeholder="內容" required)


            
